@font-face {
  font-family: 'NotoSansKR-iLight-Hestia';
  font-style: normal;
  font-weight: 300;
  src: url("../../fonts/notosansKR/eot/NotoSansKR-Light-Hestia.eot");
  src: url("../../fonts/notosansKR/eot/NotoSansKR-Light-Hestia.eot?#iefix") format("embedded-opentype"), url("../../fonts/notosansKR/woff/NotoSansKR-Light-Hestia.woff") format("woff");
}
@font-face {
  font-family: 'NotoSansKR-DemiLight-Hestia';
  font-style: normal;
  font-weight: 400;
  src: url("../../fonts/notosansKR/eot/NotoSansKR-DemiLight-Hestia.eot");
  src: url("../../fonts/notosansKR/eot/NotoSansKR-DemiLight-Hestia.eot?#iefix") format("embedded-opentype"), url("../../fonts/notosansKR/woff/NotoSansKR-DemiLight-Hestia.woff") format("woff");
}

@font-face {
  font-family: 'NotoSansKR-Regular-Hestia';
  font-style: normal;
  font-weight: 500;
  src: url("../../fonts/notosansKR/eot/NotoSansKR-Regular-Hestia.eot");
  src: url("../../fonts/notosansKR/eot/NotoSansKR-Regular-Hestia.eot?#iefix") format("embedded-opentype"), url("../../fonts/notosansKR/woff/NotoSansKR-Regular-Hestia.woff") format("woff");
}
@font-face {
  font-family: "Rubik Medium";
  font-style: normal;
  font-weight: 600;
  src: url("../../fonts/notosansKR/eot/NotoSansKR-Medium-Hestia.eot");
  src: url("../../fonts/notosansKR/eot/NotoSansKR-Medium-Hestia.eot?#iefix") format("embedded-opentype"), url("../../fonts/notosansKR/woff/NotoSansKR-Medium-Hestia.woff") format("woff");
}

@font-face {
          font-family: var(--font);
        font-weight: 700;
  font-style: normal;
  font-weight: 700;
  src: url("../../fonts/notosansKR/eot/NotoSansKR-Bold-Hestia.eot");
  src: url("../../fonts/notosansKR/eot/NotoSansKR-Bold-Hestia.eot?#iefix") format("embedded-opentype"), url("../../fonts/notosansKR/woff/NotoSansKR-Bold-Hestia.woff") format("woff");
}



