.sprite {
    background-repeat: no-repeat;
    display: inline-block;
    text-indent: -9999px;
    font-size: 0;
    overflow: hidden;
}

/**
common
 */

/*sns*/

.sprite.sprite_rejected {
    background-image: url(../../img/sprite/sprite.png);
    background-position: 0px 0px;
    background-size: 26px 26px;
    width: 26px;
    height: 26px;
}
