.sprite {
    background-repeat: no-repeat;
    display: inline-block;
    text-indent: -9999px;
    font-size: 0;
    overflow: hidden;
}

/**
common
 */

/*sns*/

.sprite.sprite_rejected {
    background: url("../../img/sprite/common/i_rejected.png");
    width: 26px;
    height: 26px;
}
